body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    padding: 0;
    max-width: 1920px;
    background: #0a0c32;
    max-width: 1920px;
    margin: 0 auto;
    
}
p, ol, li {
    font-size: 20px;
    font-weight: 400;
}s
p {
    color: #0A0C32;
}
ol, ul {
    margin-left: 0px;
    
}
button {
    font-family: 'Poppins';
}
div.navegacion {
    width: 100%;
    position: fixed;
    z-index: 2023;
    right: 0px;
}
.navegacion {
    background: #1a193a38;
    justify-content: end;
    backdrop-filter: blur(5px);
}
.navegacion ul {
    display: flex;
}
.navegacion ul li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 500;
}
.navegacion ul li a {
    color: #fff;
    text-decoration: none;
    transition: ease all .5s;

}
.navegacion ul li a:hover {
 color: #D923FD;
}
.pad-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.pad-5 {
    padding-left: 3%;
    padding-right: 3%;
}
.fondo-blanco {
    background: #eeeef0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -14px;
    text-align: center;
    z-index: 1996;
    margin-left: 3px;
    margin-bottom: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 7px;
}
    
.fondo-blanco-parrafos {
    background:#eeeef0;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.fondo-blanco-parrafos,  

.fondo-blanco-parrafos ol {
    padding: 20px;
    font-weight: 600;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    
}

.contenedor-vertical {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
.columna.cien.boton-inicial {
    justify-content: center;
    align-items: center;
}

.boton-inicial button {
    margin-top: -31px;
    z-index: 1998;
    background: #0A0C32;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    position: relative;
}
.espacio-botones button {
    background: #0A0C32;
    border: solid 2px #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}

.borde-externo {
    
    background: #0a0c32;
    position: relative;
    margin-top: 100px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: 1986;
}

.borde-externo::before {
    content: "";
    margin-right: -2px;
    margin-top: -2px;
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(45deg, #2146FF, #D923FD, #FF55A8, #FAB34D);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    margin-left: -2px;
    margin-bottom: -2px;
}


.borde {
    margin-right: -10px;
    margin-top: -15px;
    align-items: center;
    padding-right: 10px;
    overflow: hidden;
  }
  .borde::before {
    content: "";
    margin-right: -10px;
    margin-top: -15px;
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(45deg, #2146FF, #D923FD, #FF55A8, #FAB34D );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    margin-left: 10px;
    margin-bottom: 10px;
}

.columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s {
    
    margin-top: 240px;
    
}




.columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s {
  
    margin-top: 230px;
    
}



.columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s {
 
    margin-top: 240px;
    
}


.columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s {
  
    margin-top: 236px;
    
}



.columna.izquierda-cincuenta.centro-vertical.donde img.donde-s {
  
    margin-top: 240px;
    
}



.columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s {

    margin-top: 240px;
    
}


.columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {

    margin-top: 244px;
    
}


.columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {

	position: absolute;
    z-index: 1990;
    width: auto;
    height: 250px;
    margin-left: 80px;

}

.columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
	position: absolute;
    z-index: 1980;
    width: 50px;
    margin-left: 186px;
   
}

.columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
    position: absolute;
    z-index: 1990;
    width: auto;
    height: 280px;
    margin-top: -48px;
    margin-left: 80px;
}

.columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
    position: absolute;
    width: 80px;
    margin-top: -170px;
    margin-left: 169px;
}
.columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
    position: absolute;
    margin-left: 50px;
    width: 320px;
    margin-top: -59px;
}

.boton-inicial button, .espacio-botones button {
  transition: ease all .5s;
  cursor: pointer;

}

.boton-inicial button:hover, .espacio-botones button:hover {
    background: #D923FD;

}
.direccion {
    display: flex;
    z-index: 1998;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
.columna {
    display: flex;
    flex-direction: column;

}
.columna.cien.borde h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
}
.columna h2 {
    color: blueviolet;
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 5px;
}
.derecha-cincuenta h3, .derecha-cincuenta h2, .fondo-blanco-parrafos, .reveal.columna.derecha-cincuenta.centro.azul p {
    padding-left: 175px;
} 

.cien {
    width: 100%
}
.imageness img {
 width: 100%;
}

.izquierda-cincuenta {
flex: 100px;
padding: 20px;

}
.derecha {
    justify-content: left;
}
.derecha-cincuenta {
flex: 80%;
}


.arribita {
    padding-top: 150px;
}




.contenedor h3 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
}
.contenedor h3::after {
    content: '';
    border: 2px solid #fff;
    display: block;
    width: 4%;
}

h3.subtitulo-internas {
    font-size: 23px;
    color: #fff;
    font-weight: 300;
    margin-bottom: -40px;
}

h3.subtitulo-internas::after {
    content: '';
    border-bottom: 3px solid #fff;
    display: block;
    width: 30%;
    padding-top: 20px;
}
.borde button {
    z-index: 1990;
    
}
.parrafos {
    font-size: 20px;
}

.texto-centro {
    text-align: center;
}


.reveal.columna.derecha-cincuenta.centro.amarillo h2  {
    color: #fab34d;
}
.dot.amarillo {
    background: #fab34d ;
}
.reveal.columna.derecha-cincuenta.centro.lila h2, .reveal.columna.derecha-cincuenta.centro.lila li::marker {
    color: #FF55A8;
}
.dot.lila {
    background: #FF55A8 ;
}
.reveal.columna.derecha-cincuenta.centro.cyan h2, .reveal.columna.derecha-cincuenta.centro.cyan li::marker {
    color: #7BF5DA;
}

.reveal.columna.derecha-cincuenta.centro.violeta h2, .reveal.columna.derecha-cincuenta.centro.violeta li::marker {
    color: #D923FD;
}

.dot.violeta {
    background: #D923FD ;
}
.reveal.columna.derecha-cincuenta.centro.naranja h2, .reveal.columna.derecha-cincuenta.centro.naranja li::marker {
    color: #FF901F;
}

.reveal.columna.derecha-cincuenta.centro.limon h2, .reveal.columna.derecha-cincuenta.centro.limon li::marker {
    color: #D4DE25;
}

.reveal.columna.derecha-cincuenta.centro.rojito h2, .reveal.columna.derecha-cincuenta.centro.rojito li::marker  {
    color: #F1363D;
}
.reveal.columna.derecha-cincuenta.centro.azul h2, .reveal.columna.derecha-cincuenta.centro.azul li::marker, .reveal.columna.derecha-cincuenta.centro.azul p {
    color: #fff;
}
.dot.azul {
    background: #2146FF ;
}
.derechas h4 img {
    height: 20px;
    margin-left: 30px;
}
.contenedor.fondo-azul-claro {
    background: #2146FF;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 120px;
}
.columna.cien.boton-inicial img.fondo-circulo {
    position: absolute;
}

#miObjeto {
    margin-left: 297px;
    z-index: 1984;
}

.fondo-circulo-uno img.fondo-circulo {
    position: absolute;
    margin-left: 250px;
    margin-top: -50px;
    z-index: 1985;
    height: 290px;
}

.boton-del-inicio {
    text-align: center;
    margin-top: -30px;
    z-index: 2000;
    position: relative;
}

.boton-del-inicio button{
   
        margin-top: -31px;
        background: #0A0C32;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        position: absolute;
    
}
.interna.tab__content strong {
    font-size: 20px;
}
footer {
    width: 100%;
    height: 30px;
    background: transparent;
    margin-top: 50px;
    position: relative;
    bottom: 0px;
}
/*acordeon*/
:root {
    --primary: #227093;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
  }

  
  /* Core styles/functionality */
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
  }
  .tab input:checked ~ .tab__content {
    max-height: 1000rem;
    background: #f2ebfd;
    color: #0a0c32;
    padding-left: 6.2%;
    padding-bottom: 30px;
    overflow: hidden;
}
  
  /* Visual styles */
  .accordion {
    color: #fff;
    overflow: hidden;
    width: 100%;
    padding-top: 30px;
  }
  .tab__label, .tab__close {
    display: flex;
    color: #0a0c32;
    background: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
}
  .tab__label {
    justify-content: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
  .tab__label::after {
    content: "+";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    position: absolute;
    right: 6%;
  }
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }
  .tab__content p {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  .accordion--radio {
    --theme: var(--secondary);
  }

  .tab input:checked ~ .tab__content.interna {
    background: #fff;
  }
  
  /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
  }
  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }
  
/*emprendimiento*/
.borde-externo.derecha h1, .fondo-blanco.pad-10.derecha {
    text-align: left;
}
    .fondo-blanco.pad-5.derecha {
    text-align: left;
}
.columna.cien.borde h1.titulo-internas, .columna.cien.borde h3.subtitulo-internas {
    text-align: left;
    padding-top: 30px;
}

.tab__content.pad-5 h5 {
    font-size: 25px;
    font-weight: 600;
}
.tab__content.pad-5 button {
    background: red;
}
div.tab__content.pad-5.sub h4 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

section.accordion button.ac-button {
    background: #2146FF;
    border: solid transparent;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 20px;
    font-weight: 500;
}
.tab__label.pad-5 span {
    color: #9d96a8;
    font-size: 40px;
    padding-right: 20px;
}
.contenedor.arribita.subtitulos h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

strong.mayus {
    font-size: 20px;
    text-transform: uppercase;
}
section.accordion button {
    background: #0a0c32;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border: solid 2px #fff;
    cursor: pointer;
    transition: ease all .5s;
}

section.accordion button:hover {
    background: #FF55A8;

}

.derechas {
    text-align: left;
}



#progressbar .active#account strong {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}
#progressbar .active#account strong:after {
    content: "";
    display: block;
    border-bottom: solid 3px #fff;
    width: 20%;
    text-align: center;
    margin: 1% auto;
}
/*tabs*/

  
 
  

/*steps*/


#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    padding-left: 6%;
    padding-right: 6%;
}
fieldset p {
    color: #fff;
}
.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input, #msform textarea {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 22px;
    letter-spacing: 1px;
    height: 70px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid transparent;
    outline-width: 0;
}

#msform .action-button, form#msform button.boton-ruta-reiniciar {
    width: 200px;
    background: transparent;
    color: white;
    border: 0 none;
    border-radius: 9px;
    cursor: pointer;
    padding: 24px 19px;
    margin: 10px 0px 10px 5px;
    border: solid 1px #2246ff;
    transition: ease all .3s;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
    letter-spacing: 1px;
}

form#msform button {
    padding: 18px;
    font-size: 20px;
    border-radius: 10px;
    border: transparent;
    transition: ease all .3s;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    flex: 20%;
}

.cualificacion button {
    background: #fff;
    color: #f555a8;
}
.cualificacion button:hover {
    background: #f555a8;
    color: #fff;

}
.programa button {
    color: #1EA27E;
    background: #fff;
} 

.programa button:hover {
    background: #7bf5da;
    color: #0d1035
}

.institucion button {
    color: #d922fd;
    background: #fff;
} 

.institucion button:hover {
    background: #d922fd;
    color: #fff
}

.financiacion button {
    color: #7e8057;
    background: #fff;
} 
.centros {
    text-align: center;
}
.financiacion button:hover {
    background: #d4de24;
    color: #0d1035
}

form#msform button.next.action-button {
    margin-top: 500px;
}

#msform .action-button:hover, #msform .action-button:focus, #msform .action-button-previous:hover, #msform .action-button-previous:focus, form#msform button.boton-ruta-reiniciar:focus, form#msform button.boton-ruta-reiniciar:hover {
    background-color: #2246ff;
}

#msform .action-button-previous {
    max-width: 200px;
    background: transparent;
    color: white;
    border: 0 none;
    border-radius: 9px;
    cursor: pointer;
    padding: 20px 25px;
    margin: 10px 0px 10px 5px;
    border: solid 1px #2246ff;
    transition: ease all .3s;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}



.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    display: flex;
    flex-wrap: wrap;
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 25px;
    width: 14%;
    float: left;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
}
#progressbar li span {
    color: #082362;
}
#progressbar li h4 {
    color: #082362;
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
}

#progressbar li span::after {
    content: "";
    border-bottom: solid 2px #082362;
    display: block;
    margin: 1% auto;
    width: 25%;
}

li.active#account h4 {
	color: #fab34d;
}

li.active#personal h4 {
	color: #f555a8;
}

li.active#payment h4 {
	color: #7bf5da;
}
li.active#confirm h4 {
	color: #d922fd;
}

li.active#financiacion h4 {
	color: #d4de24;
}
li.active#empleador h4 {
	color: #f1363d;
}
li.active#cargo h4 {
	color: #fdd722;
}





li.active#account span {
	color: #fff;
}

li.active#account span::after {
    border-bottom: solid 2px #fff;
}

li.active span {
    color: #673AB7
}
#progressbar li.active span {
    color: #fff;
}

#progressbar li.active span::after {
    border-bottom: solid 2px #fff;
}

#progressbar #account:before {
    background: url(../imagenes/oit-ruta-curso.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}
#progressbar #personal:before {
    background: url(../imagenes/oit-ruta-cualificacion-opaco.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}
#progressbar.active#personal:before {
    background: url(../imagenes/oit-ruta-cualificacion.png) no-repeat;

}
#progressbar #payment:before {
    background: url(../imagenes/oit-ruta-programa-opaco.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}
#progressbar #confirm:before {
    background: url(../imagenes/oit-ruta-institucion-opaco.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}

#progressbar #financiacion:before {
    background: url(../imagenes/oit-ruta-financiacion-opaco.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}

#progressbar #empleador:before {
    background: url(../imagenes/oit-ruta-empleador-opaco.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}
#progressbar #cargo:before {
    background: url(../imagenes/oit-ruta-cargo-opaco.png) no-repeat;
    background-color: #0a0c32;
    background-position: center;
   
}

#progressbar #personal:before img {
    opacity: 0.5;
}


#progressbar li:before {
    content: '';
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    
    background-size: auto;
   
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    border: solid 4px #142998;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #142998;
    position: absolute;
    left: 80px;
    top: 45px;
    z-index: -1;
}

#progressbar li.active:before {
    background: #0a0c32
}
#progressbar li.active:after {
    background: #142998
}
#progressbar li.active:before {
    background: #0a0c32;
}
.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}
#progressbar li#cargo:after {
    display: none;
}
.derechas h4 {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 35px;
}
.derechas::after {
    content: '';
    background: url(../imagenes/puntos.png); 
}
.derechas input, .derechas input::placeholder  {
    padding: 10px 20px;
    color: #5A7184;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 22px;


}

#progressbar li.active#account::before  {
    border: solid 3px #fab34d;
}

#progressbar li.active#account::after {
    background: #fab34d;
}

#progressbar li.active#personal::before {
    border: solid 3px #f555a8;
    background:  #0a0c32 url(../imagenes/oit-ruta-cualificacion.png) no-repeat center;
}

#progressbar li.active#personal::after {
    background:  #f555a8;
}

#progressbar li.active#payment::before {
    border: solid 3px #7bf5da;
    background:  #0a0c32 url(../imagenes/oit-ruta-programa.png) no-repeat center;

}

#progressbar li.active#payment::after {
    background:  #7bf5da;
}

#progressbar li.active#confirm::before {
    border: solid 3px #d922fd;
    background:  #0a0c32 url(../imagenes/oit-ruta-institucion.png) no-repeat center;

}

#progressbar li.active#confirm::after {
    background:  #d922fd;
}
#progressbar li.active#financiacion::before {
    border: solid 3px #d4de24;
    background:  #0a0c32 url(../imagenes/oit-ruta-financiacion.png) no-repeat center;

}

#progressbar li.active#financiacion::after {
    background:  #d4de24;
}
#progressbar li.active#empleador::before {
    border: solid 3px #f1363d;
    background:  #0a0c32 url(../imagenes/oit-ruta-empleador.png) no-repeat center;
}

#progressbar li.active#empleador::after {
    background:  #f1363d;
}
#progressbar li.active#cargo::before {
    border: solid 3px #fdd722;
    background:  #0a0c32 url(../imagenes/oit-ruta-cargo.png) no-repeat center;
}

#progressbar li.active#cargo::after {
    background:  transparent;
}

.derechas h6 {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.gapp {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gapp a {
    display: flex;
    text-decoration: none;
    flex: 30%;
    flex-basis: auto;
}



table, td, th {  
    border: 1px solid #ffffff33;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
  }

  .contenedor.subtitulos.divisor h4 {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 50px;
}
.contenedor.subtitulos.divisor h1 {
    color: #fff;


}
.contenedor.subtitulos.divisor.cabecera {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 5%;
    padding-left: 5%;
}

/*Móviles*/
@media (max-width: 850px) {
    .contenedor {
      flex-direction: column;
  
    }

    .reversa {
        flex-direction: column-reverse;
      }
    .izquierda-cincuenta, .derecha-cincuenta {
        width: 100%;
    }
    div.navegacion {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
    }

    .columna.cien.borde h1 {
        font-size: 35px;
        padding-top: 40px;
    }

    .derecha-cincuenta h3, .derecha-cincuenta h2, .fondo-blanco-parrafos, .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 0;
        margin-top: 42px;
        padding: 30px;
    }

    .columna h2 {
        color: blueviolet;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 5px;
    }

   
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        position: static;
        z-index: 1990;
        width: 250px;
        height: auto;
        margin-top: -48px;
        margin-left: unset;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s, #miObjeto, .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        display: none;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        position: static;
        z-index: 1990;
        width: 250px;
        height: auto;
        margin-left: inherit;
    }

    .izquierda-cincuenta {
        flex: 5%;
        padding: 20px;
        align-items: center;
        padding-top: 50px;
    }

    .derecha-cincuenta h3, .derecha-cincuenta h2, .fondo-blanco-parrafos, .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 0;
        margin-top: 42px;
        padding: 0;
    }

    .fondo-blanco-parrafos {
        padding: 20px
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
        position: absolute;
        margin-left: auto;
        width: 320px;
        margin-top: -59px;
    }

    .fondo-blanco-parrafos {
        
        border-radius: 20px;
    }

    .contenedor.navegacion ul {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        background: rgb(22 22 56 / 87%);
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        z-index: 980;
        padding: 0;
        margin-top: -14px;
        backdrop-filter: blur(10px);

    }

    .tab__label, .tab__close {
        font-size: 18px;
    }

    p, ol, li {
        font-size: 18px;
        font-weight: 400;
    }

    h3.subtitulo-internas {
        font-size: 19px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 0;
    }
    .columna.cien.borde h1 {
        font-size: 30px;
        line-height: 38px;
        padding-bottom: 20px;
    }
    
    form#msform button {
        width: 100%;
    }

    #msform .action-button-previous, #msform .action-button, form#msform button.boton-ruta-reiniciar {
        max-width: 100%;
    }
    #progressbar li {
        width: 25%;
        flex: 30%;
    }

    #progressbar li:before {
        content: '';
        width: 50px;
        height: 50px;
        
    }
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 4px;
        background: #142998;
        position: absolute;
        left: 80px;
        top: 28px;
        z-index: -1;
    }

    #progressbar li h4 {
        
        font-size: 10px;
    }
    #progressbar li {
        font-size: 16px;
       
    }

    #progressbar #account:before, #progressbar #personal:before, #progressbar #payment:before, #progressbar #confirm:before, #progressbar #financiacion:before,#progressbar #empleador:before, #progressbar #cargo:before, #progressbar li.active#personal::before, #progressbar li.active#payment::before, #progressbar li.active#confirm::before, #progressbar li.active#financiacion::before, #progressbar li.active#empleador::before, #progressbar li.active#cargo::before    {
        background-size: contain;
    }

    .derechas h4 {
        font-size: 20px;

  }
  .derechas input, .derechas input::placeholder {
    font-size: 16px;
  }

  #msform input, #msform textarea {
    height: 55px;
  }

  form#msform button {
    
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: transparent;
    transition: ease all .3s;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    
}

#msform .action-button-previous, #msform .action-button, form#msform button.boton-ruta-reiniciar {
    width: 100%;
    min-height: 85px;

}

#progressbar {
   
    padding-left: 0;
}
 
}
  /*flecha*/
    .fixme { 
        background: green;
        color: white;
        top: 20%;
        left: 80px;
     }

    img.flecha {
        width: 58px;
     } 

   
   

  /* Portátiles */
@media (min-width: 1001px) and (max-width: 1899px) { 
    .columna h2 {
        font-size: 27px;
    }

    .columna.cien.borde h1 {
        font-size: 40px;
       
    }
    .contenedor h3 {
        font-size: 28px;
     }
    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        margin-left: 25px;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
        
        margin-left: 130px;
    }
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        margin-left: 25px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        margin-left: 112px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
        margin-left: -4px;
   
    }

    .contenedor.fondo-azul-claro {
        margin-top: 60px;
       
    }

    #miObjeto {
        margin-left: 218px;
    }

    .fondo-circulo-uno img.fondo-circulo {
        margin-left: 185px;
        margin-top: -40px;
    }

    .fondo-circulo-uno img.fondo-circulo {
  
        margin-left: 185px;
        margin-top: -40px;
   
    }
    .tab__label, .tab__close {
   
        font-size: 20px;
    }
    h3.subtitulo-internas {
     
        margin-bottom: 0px;
    }
}

/*IPAD */
@media (min-width: 110px) and (max-width: 1040px) { 

    #miObjeto {
        margin-left: 205px;
    }
}



/* Tablets */
@media (min-width: 851px) and (max-width: 1000px) { 

    #miObjeto {
        margin-left: 197px;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        position: absolute;
        z-index: 1990;
        width: auto;
        height: 250px;
        margin-left: -28px;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
        position: absolute;
        z-index: 1980;
        width: 50px;
        margin-left: 73px;
    }

    .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 37px;
 
    }

    .columna h2 {
       
    font-size: 23px;
    }

    .contenedor h3 {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .fondo-circulo-uno img.fondo-circulo {
        position: absolute;
        margin-left: 86px;
        margin-top: -50px;
        z-index: 1985;
        height: 290px;
    }

    #miObjeto {
        margin-left: 133px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        position: absolute;
        z-index: 1990;
        width: auto;
        height: 280px;
        margin-top: -48px;
        margin-left: -25px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
        position: absolute;
        margin-left: -56px;
        width: 320px;
        margin-top: -59px;
    }
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        position: absolute;
        width: 80px;
        margin-top: -170px;
        margin-left: 57px;
    }
    .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 175px;
    }

    p, ol, li {
        font-size: 17px;
        font-weight: 400;
    }
    .columna.cien.borde h1 {
        color: #fff;
        font-size: 45px;
        text-align: center;
        font-weight: 600;
    }

    div.navegacion {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tab__label, .tab__close {
     
        font-size: 20px;
    }
    #progressbar li {
        
        font-size: 18px;

   
}

#progressbar li h4 {
   
    font-size: 11px;
}
.columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono 

{
    height: 200px;

}


.columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
    position: absolute;
    margin-left: 50px;
    width: inherit;
    margin-top: -59px;
}

.columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
    margin-top: 180px;
}

.columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s {
    margin-top: 192px;
}

.columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s {
    margin-top: 188px;
}

.columna.izquierda-cincuenta.centro-vertical.donde img.donde-s {
    margin-top: 185px;
}

.columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s {
    margin-top: 188px;
}

.columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s {
    margin-top: 188px;
}


    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        margin-left: 93px;
    }

        #miObjeto {
        margin-left: 178px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) { 
    #miObjeto {
        margin-left: 210px;
    }
    
    .contenedor.fondo-azul-claro {
        
        padding-bottom: 95px;
    }
    #progressbar li {
        
        font-size: 18px;

   
}

#progressbar li h4 {
   
    font-size: 11px;
}
}

@media (min-width: 1001px) and (max-width: 1350px) {
    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        
        height: 200px;
        
    }
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        
        height: 240px;
   
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
      
        width: 280px;
       
    }
    .fondo-circulo-uno img.fondo-circulo {
        margin-left: 112px;
        margin-top: -75px;
    }
    .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s {
        margin-top: 181px;
    }
    .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s {
        margin-top: 190px;
    }

.columna.izquierda-cincuenta.centro-vertical.donde img.donde-s {
    margin-top: 191px;
}
.columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s {
    margin-top: 189px;
}
.columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s {
    margin-top: 192px;
}
.columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
    margin-top: 192px;
}
.columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s {
    margin-top: 192px;
}
.columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
    margin-left: 95px;
}
.columna h2 {
    font-size: 22px;
}
.contenedor h3 {
    font-size: 26px;
}
.espacio-botones button {
   
    font-size: 18px;
    
}
.boton-inicial button {
  
    font-size: 20px;
    
}
#miObjeto {
    margin-left: 178px;
}
.columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
    margin-left: 32px;
}
.columna.cien.borde h1 {
    font-size: 35px;
}
}