body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    padding: 0;
    max-width: 1920px;
    background: #0a0c32;
    max-width: 1920px;
    margin: 0 auto;
    
}
p, ol, li {
    font-size: 20px;
    font-weight: 400;
}s
p {
    color: #0A0C32;
}
ol, ul {
    margin-left: 0px;
    
}
button {
    font-family: 'Poppins';
}
div.navegacion {
    width: 100%;
    position: fixed;
    z-index: 2023;
    right: 0px;
}
.navegacion {
    background: #1a193ac4;
    justify-content: end;
    backdrop-filter: blur(10px);
}
.navegacion ul {
    display: flex;
}
.navegacion ul li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 500;
}
.navegacion ul li a {
    color: #fff;
    text-decoration: none;
    animation: ease all .5s;

}
.navegacion ul li a:hover {
 color: #D923FD;
}
.pad-10 {
    padding-left: 10%;
    padding-right: 10%;
}
.fondo-blanco {
    background: #eeeef0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -14px;
    text-align: center;
    z-index: 1996;
    margin-left: 3px;
    margin-bottom: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 7px;
}
    
.fondo-blanco-parrafos {
    background:#eeeef0;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.fondo-blanco-parrafos,  

.fondo-blanco-parrafos ol {
    padding: 20px;
    font-weight: 600;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    
}

.contenedor-vertical {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
.columna.cien.boton-inicial {
    justify-content: center;
    align-items: center;
}

.boton-inicial button {
    margin-top: -31px;
    z-index: 1998;
    background: #0A0C32;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    position: relative;
}
.espacio-botones button {
    background: #0A0C32;
    border: solid 2px #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}

.borde-externo {
    
    background: #0a0c32;
    position: relative;
    margin-top: 100px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: 1986;
}

.borde-externo::before {
    content: "";
    margin-right: -2px;
    margin-top: -2px;
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(45deg, #2146FF, #D923FD, #FF55A8, #FAB34D);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    margin-left: -2px;
    margin-bottom: -2px;
}

/*.borde {
    margin-right: -10px;
    margin-top: -15px;
    border: solid 2px #fab34d;
    align-items: center;
    padding-right: 10px;
    border-radius: 20px;
    overflow: hidden;
}*/
.borde {
    margin-right: -10px;
    margin-top: -15px;
    align-items: center;
    padding-right: 10px;
    overflow: hidden;
  }
  .borde::before {
    content: "";
    margin-right: -10px;
    margin-top: -15px;
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(45deg, #2146FF, #D923FD, #FF55A8, #FAB34D );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    margin-left: 10px;
    margin-bottom: 10px;
}

.columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s {
    
    margin-top: 240px;
    
}




.columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s {
  
    margin-top: 230px;
    
}



.columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s {
 
    margin-top: 240px;
    
}


.columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s {
  
    margin-top: 236px;
    
}



.columna.izquierda-cincuenta.centro-vertical.donde img.donde-s {
  
    margin-top: 240px;
    
}



.columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s {

    margin-top: 240px;
    
}


.columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {

    margin-top: 244px;
    
}


.columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {

	position: absolute;
    z-index: 1990;
    width: auto;
    height: 250px;
    margin-left: 80px;

}

.columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
	position: absolute;
    z-index: 1980;
    width: 50px;
    margin-left: 186px;
   
}

.columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
    position: absolute;
    z-index: 1990;
    width: auto;
    height: 280px;
    margin-top: -48px;
    margin-left: 80px;
}

.columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
    position: absolute;
    width: 80px;
    margin-top: -170px;
    margin-left: 169px;
}
.columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
    position: absolute;
    margin-left: 50px;
    width: 320px;
    margin-top: -59px;
}

.boton-inicial button, .espacio-botones button {
  transition: ease all .5s;
  cursor: pointer;

}

.boton-inicial button:hover, .espacio-botones button:hover {
    background: #D923FD;

}
.direccion {
    display: flex;
    z-index: 1998;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
.columna {
    display: flex;
    flex-direction: column;

}
.columna.cien.borde h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
}
.columna h2 {
    color: blueviolet;
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 5px;
}
.derecha-cincuenta h3, .derecha-cincuenta h2, .fondo-blanco-parrafos, .reveal.columna.derecha-cincuenta.centro.azul p {
    padding-left: 175px;
} 

.cien {
    width: 100%
}
.imageness img {
 width: 100%;
}

.izquierda-cincuenta {
flex: 5%;
padding: 20px;

}
.derecha {
    justify-content: left;
}
.derecha-cincuenta {
flex: 80%;
}


/*.centro-vertical {
    align-items: center;
}*/


.centro {
    justify-content: center;
}

.contenedor h3 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
}
.contenedor h3::after {
    content: '';
    border: 2px solid #fff;
    display: block;
    width: 4%;
}
.borde button {
    z-index: 1990;
    
}
.parrafos {
    font-size: 20px;
}

.texto-centro {
    text-align: center;
}
footer {
    background: blue;
}

.reveal.columna.derecha-cincuenta.centro.amarillo h2  {
    color: #fab34d;
}
.dot.amarillo {
    background: #fab34d ;
}
.reveal.columna.derecha-cincuenta.centro.lila h2, .reveal.columna.derecha-cincuenta.centro.lila li::marker {
    color: #FF55A8;
}
.dot.lila {
    background: #FF55A8 ;
}
.reveal.columna.derecha-cincuenta.centro.cyan h2, .reveal.columna.derecha-cincuenta.centro.cyan li::marker {
    color: #7BF5DA;
}

.reveal.columna.derecha-cincuenta.centro.violeta h2, .reveal.columna.derecha-cincuenta.centro.violeta li::marker {
    color: #D923FD;
}

.dot.violeta {
    background: #D923FD ;
}
.reveal.columna.derecha-cincuenta.centro.naranja h2, .reveal.columna.derecha-cincuenta.centro.naranja li::marker {
    color: #FF901F;
}

.reveal.columna.derecha-cincuenta.centro.limon h2, .reveal.columna.derecha-cincuenta.centro.limon li::marker {
    color: #D4DE25;
}

.reveal.columna.derecha-cincuenta.centro.rojito h2, .reveal.columna.derecha-cincuenta.centro.rojito li::marker  {
    color: #F1363D;
}
.reveal.columna.derecha-cincuenta.centro.azul h2, .reveal.columna.derecha-cincuenta.centro.azul li::marker, .reveal.columna.derecha-cincuenta.centro.azul p {
    color: #fff;
}
.dot.azul {
    background: #2146FF ;
}

.contenedor.fondo-azul-claro {
    background: #2146FF;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 120px;
}
.columna.cien.boton-inicial img.fondo-circulo {
    position: absolute;
}

#miObjeto {
    margin-left: 297px;
    z-index: 1984;
}

.fondo-circulo-uno img.fondo-circulo {
    position: absolute;
    margin-left: 250px;
    margin-top: -50px;
    z-index: 1985;
    height: 290px;
}

.boton-del-inicio {
    text-align: center;
    margin-top: -30px;
    z-index: 2000;
    position: relative;
}

.boton-del-inicio button{
   
        margin-top: -31px;
        background: #0A0C32;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        position: absolute;
    
}
/*Móviles*/
@media (max-width: 850px) {
    .contenedor {
      flex-direction: column;
    }

    .reversa {
        flex-direction: column-reverse;
      }
    .izquierda-cincuenta, .derecha-cincuenta {
        width: 100%;
    }
    div.navegacion {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .columna.cien.borde h1 {
        font-size: 35px;
        padding-top: 40px;
    }

    .derecha-cincuenta h3, .derecha-cincuenta h2, .fondo-blanco-parrafos, .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 0;
        margin-top: 42px;
        padding: 30px;
    }

    .columna h2 {
        color: blueviolet;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 5px;
    }

   
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        position: static;
        z-index: 1990;
        width: 250px;
        height: auto;
        margin-top: -48px;
        margin-left: unset;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s, #miObjeto, .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        display: none;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        position: static;
        z-index: 1990;
        width: 250px;
        height: auto;
        margin-left: inherit;
    }

    .izquierda-cincuenta {
        flex: 5%;
        padding: 20px;
        align-items: center;
        padding-top: 50px;
    }

    .derecha-cincuenta h3, .derecha-cincuenta h2, .fondo-blanco-parrafos, .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 0;
        margin-top: 42px;
        padding: 0;
    }

    .fondo-blanco-parrafos {
        padding: 20px
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
        position: absolute;
        margin-left: auto;
        width: 320px;
        margin-top: -59px;
    }

    .fondo-blanco-parrafos {
        
        border-radius: 20px;
    }

  }

  /*flecha*/
    .fixme { 
        background: green;
        color: white;
        top: 20%;
        left: 80px;
     }

    img.flecha {
        width: 58px;
     } 

     #miObjeto {
        margin-left: 297px;
    }

   

  /* Portátiles */
@media (min-width: 1001px) and (max-width: 1899px) { 
    .columna h2 {
        font-size: 27px;
    }

    .columna.cien.borde h1 {
        font-size: 40px;
       
    }
    .contenedor h3 {
        font-size: 28px;
     }
    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        margin-left: 25px;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
        
        margin-left: 130px;
    }
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        margin-left: 25px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        margin-left: 112px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
        margin-left: -4px;
   
    }

    .contenedor.fondo-azul-claro {
        margin-top: 60px;
       
    }

    #miObjeto {
        margin-left: 218px;
    }

    .fondo-circulo-uno img.fondo-circulo {
        margin-left: 185px;
        margin-top: -40px;
    }

    .fondo-circulo-uno img.fondo-circulo {
  
        margin-left: 185px;
        margin-top: -40px;
   
    }
}

/*IPAD */
@media (min-width: 110px) and (max-width: 1040px) { 

    #miObjeto {
        margin-left: 205px;
    }
}



/* Tablets */
@media (min-width: 851px) and (max-width: 1000px) { 

    #miObjeto {
        margin-left: 197px;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.icono, .columna.izquierda-cincuenta.centro-vertical.eleccion img.icono, .columna.izquierda-cincuenta.centro-vertical.formacion img.icono, .columna.izquierda-cincuenta.centro-vertical.recursos img.icono, .columna.izquierda-cincuenta.centro-vertical.donde img.icono, .columna.izquierda-cincuenta.centro-vertical.desempenar img.icono, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.icono {
        position: absolute;
        z-index: 1990;
        width: auto;
        height: 250px;
        margin-left: -28px;
    }

    .columna.izquierda-cincuenta.centro-vertical.transformacion img.transformacion-s, .columna.izquierda-cincuenta.centro-vertical.eleccion img.eleccion-s, .columna.izquierda-cincuenta.centro-vertical.formacion img.formacion-s, .columna.izquierda-cincuenta.centro-vertical.recursos img.recursos-s, .columna.izquierda-cincuenta.centro-vertical.donde img.donde-s, .columna.izquierda-cincuenta.centro-vertical.desempenar img.desempenar-s, .columna.izquierda-cincuenta.centro-vertical.empleabilidad img.empleabilidad-s {
        position: absolute;
        z-index: 1980;
        width: 50px;
        margin-left: 73px;
    }

    .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 37px;
 
    }

    .columna h2 {
       
    font-size: 23px;
    }

    .contenedor h3 {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .fondo-circulo-uno img.fondo-circulo {
        position: absolute;
        margin-left: 86px;
        margin-top: -50px;
        z-index: 1985;
        height: 290px;
    }

    #miObjeto {
        margin-left: 129px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.icono {
        position: absolute;
        z-index: 1990;
        width: auto;
        height: 280px;
        margin-top: -48px;
        margin-left: -25px;
    }

    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-barra {
        position: absolute;
        margin-left: -56px;
        width: 320px;
        margin-top: -59px;
    }
    .columna.izquierda-cincuenta.centro-vertical.cumplido img.fondo-circulo {
        position: absolute;
        width: 80px;
        margin-top: -170px;
        margin-left: 57px;
    }
    .reveal.columna.derecha-cincuenta.centro.azul p {
        padding-left: 175px;
    }

    p, ol, li {
        font-size: 17px;
        font-weight: 400;
    }
    .columna.cien.borde h1 {
        color: #fff;
        font-size: 45px;
        text-align: center;
        font-weight: 600;
    }
}

